section.liturgia-mode {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    text-align: left;
    margin: 33px;
}

.demo-container {
    padding: var(--spacing-lg);
    background: var(--color-main);
    display: flex;
    justify-content: center;
    gap: var(--spacing-lg);
    max-width: 800px;
    flex-wrap: wrap;
}

.demo-box {
    & {
        background: var(--color-light);
        padding: var(--spacing-lg);
        border: var(--line-width-default) solid var(--color-gray);
        border-radius: var(--radius-default);

        /* Basic Styles */

        button {
            background-color: var(--color-main);
            color: var(--color-text);
            border-radius: var(--radius-default);
            padding: var(--spacing-sm) var(--spacing-md);
            font-size: var(--font-size-md);
            align-items: center;
            gap: var(--spacing-xs);
            cursor: pointer;
        }

        button:hover {
            background-color: var(--color-main);
            opacity: var(--opacity-high);
        }
    }

    &.dark {
        background: var(--color-dark);
        color: var(--color-light);
    }

}




