section.liturgia-mode  {
    padding: var(--spacing-lg);
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    margin: 33px;
    background: var(--color-gradient);
}

.demo-container {
    background: var(--color-main);
    display: flex;
    justify-content: center;
    gap: var(--spacing-lg);
    max-width: 800px;
    flex-wrap: wrap;
}

.demo-box {
    background: var(--color-text-invert);
    padding: var(--spacing-lg);
    border: var(--line-width-default) solid var(--color-border);
    border-radius: var(--radius-default);
    text-align:center;
}

.demo-box h1 {
    margin-bottom: var(--spacing-sm);
}

.demo-box p {
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-sm);
}

.demo-box.invert {
    background: var(--color-main);
}

.demo-box.invert h1 {
    color: var(--color-text-invert);
}

.demo-box.invert p {
    color: var(--color-text-invert);
}



h1 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-md);
}

/* Basic Styles */
button {
    background-color: var(--color-main);
    color: var(--color-text);
    border: var(--line-width-default) solid var(--color-border);
    border-radius: var(--radius-default);
    padding: var(--spacing-sm) var(--spacing-md);
    font-family: var(--font-family-paragraph);
    font-size: var(--font-size-md);
    align-items: center;
    gap: var(--spacing-xs);
    cursor: pointer;
}

button:hover {
    background-color: var(--color-main);
    opacity: var(--opacity-high);
}
