@theme {
  /** TODO : replace violaceus colors and grays
    /** Override grayscale **/
  --color-violaceus-gray-50: oklch(98.5% 0 0);
  --color-violaceus-gray-100: oklch(97% 0 0);
  --color-violaceus-gray-200: oklch(92.2% 0 0);
  --color-violaceus-gray-300: oklch(87% 0 0);
  --color-violaceus-gray-400: oklch(70.8% 0 0);
  --color-violaceus-gray-500: oklch(55.6% 0 0);
  --color-violaceus-gray-600: oklch(43.9% 0 0);
  --color-violaceus-gray-700: oklch(37.1% 0 0);
  --color-violaceus-gray-800: oklch(26.9% 0 0);
  --color-violaceus-gray-900: oklch(20.5% 0 0);
  --color-violaceus-gray-950: oklch(14.5% 0 0);

  /** Custom **/
  --color-violaceus-dark: #0c110a;
  --color-violaceus-gray: #0c110a;
  --color-violaceus-light: #f9fdf6;

  --color-violaceus-50: oklch(96.9% 0.016 293.756);
  --color-violaceus-100: oklch(94.3% 0.029 294.588);
  --color-violaceus-200: oklch(89.4% 0.057 293.283);
  --color-violaceus-300: oklch(81.1% 0.111 293.571);
  --color-violaceus-400: oklch(70.2% 0.183 293.541);
  --color-violaceus-500: oklch(60.6% 0.25 292.717);
  --color-violaceus-600: oklch(54.1% 0.281 293.009);
  --color-violaceus-700: oklch(49.1% 0.27 292.581);
  --color-violaceus-800: oklch(43.2% 0.232 292.759);
  --color-violaceus-900: oklch(38% 0.189 293.745);
  --color-violaceus-950: oklch(28.3% 0.141 291.089);
}
