@theme {
  /** TODO : replace viridis colors and grays
    /** Override grayscale **/
  --color-viridis-gray-50: oklch(98.5% 0 0);
  --color-viridis-gray-100: oklch(97% 0 0);
  --color-viridis-gray-200: oklch(92.2% 0 0);
  --color-viridis-gray-300: oklch(87% 0 0);
  --color-viridis-gray-400: oklch(70.8% 0 0);
  --color-viridis-gray-500: oklch(55.6% 0 0);
  --color-viridis-gray-600: oklch(43.9% 0 0);
  --color-viridis-gray-700: oklch(37.1% 0 0);
  --color-viridis-gray-800: oklch(26.9% 0 0);
  --color-viridis-gray-900: oklch(20.5% 0 0);
  --color-viridis-gray-950: oklch(14.5% 0 0);

  /** Custom **/
  --color-viridis-dark: #0c110a;
  --color-viridis-gray: oklch(55.6% 0 0);
  --color-viridis-light: #f9fdf6;

  --color-viridis-50: oklch(98.2% 0.018 155.826);
  --color-viridis-100: oklch(96.2% 0.044 156.743);
  --color-viridis-200: oklch(92.5% 0.084 155.995);
  --color-viridis-300: oklch(87.1% 0.15 154.449);
  --color-viridis-400: oklch(79.2% 0.209 151.711);
  --color-viridis-500: oklch(72.3% 0.219 149.579);
  --color-viridis-600: oklch(62.7% 0.194 149.214);
  --color-viridis-700: oklch(52.7% 0.154 150.069);
  --color-viridis-800: oklch(44.8% 0.119 151.328);
  --color-viridis-900: oklch(39.3% 0.095 152.535);
  --color-viridis-950: oklch(26.6% 0.065 152.934);
}
